version: "2"

services:
  jenkins-slave:
    image: ${REGISTRY_URL}/jenkins-slave:0.1-svntunnel
    extends:
      file: common-service.yml
      service: logging
    volumes: 
    - ${JENKINS_HOME}:/home/slave/jenkins
    ports:
    - "1222:22"
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_S3_PROXY_SSH_KEY
    restart: "unless-stopped"